<section class="error-page">
  <div class="code">404</div>
  <h1>{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext' | t }}</p>
  <a class="btn btn-primary" href="{{ routes.root_url }}">{{ 'general.404.link' | t }}</a>
</section>
